<!-- ETHERSCAN API KEY -->
ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1

<!-- Private KEYS -->
PRIVATE_KEY=0xabc123abc123abc123abc123abc123abc123abc123abc123abc123abc123abc1

<!-- Ethereum Network Nodes -->
GOERLI_URL=https://eth-goerli.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
KOVAN_URL=https://eth-goerli.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
RINKEBY_URL=https://eth-goerli.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
ETHEREUM_URL=https://eth-goerli.alchemyapi.io/v2/<YOUR ALCHEMY KEY>

<!-- Polygon Network Nodes -->
POLYGON_URL=https://eth-goerli.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
MUMBAI_URL=https://eth-goerli.alchemyapi.io/v2/<YOUR ALCHEMY KEY>

<!-- Avalanche Network Nodes -->
AVALANCHE_URL=https://eth-goerli.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
FUJI_URL=https://eth-goerli.alchemyapi.io/v2/<YOUR ALCHEMY KEY>

<!-- Optimism Network Nodes -->
OPTIMISM_URL=https://eth-goerli.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
OPT_KOVAN_URL=https://eth-goerli.alchemyapi.io/v2/<YOUR ALCHEMY KEY>