<!-- ETHERSCAN API KEY -->
ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
POLYGONSCAN_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
SNOWTRACE_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
OPT_ETHERSCAN_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
ARBISCAN_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
BSCSCAN_KEY=BC123ABC123ABC123ABC123ABC123ABC1

<!-- Private KEYS -->
PRIVATE_KEY=0xabc123abc123abc123abc123abc123abc123abc123abc123abc123abc123abc1

<!-- Ethereum Network Nodes -->
GOERLI_URL=https://eth-goerli.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
KOVAN_URL=https://eth-kovan.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
RINKEBY_URL=https://eth-rinkeby.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
ETHEREUM_URL=https://eth-mainnet.g.alchemy.com<YOUR ALCHEMY KEY>

<!-- Polygon Network Nodes -->
POLYGON_URL=https://polygon-mainnet.g.alchemy.com/v2/<YOUR ALCHEMY KEY>
MUMBAI_URL=https://polygon-mumbai.g.alchemy.com/v2/<YOUR ALCHEMY KEY>

<!-- Avalanche Network Nodes -->
AVALANCHE_URL=https://avalanche--mainnet--rpc.datahub.figment.io/apikey/<YOUR FIGMENT KEY>/ext/bc/C/rpc
FUJI_URL=https://avalanche--fuji--rpc.datahub.figment.io/apikey/<YOUR FIGMENT KEY>/ext/bc/C/rpc

<!-- Optimism Network Nodes -->
OPTIMISM_URL=https://opt-mainnet.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
OPT_KOVAN_URL=https://opt-kovan.g.alchemy.com/v2/<YOUR ALCHEMY KEY>
OPT_GOERLI_URL=https://opt-goerli.g.alchemy.com/v2/<YOUR ALCHEMY KEY>

<!-- ARBITRUM Network Nodes -->
ARBITRUM_URL=https://arb-mainnet.g.alchemy.com/v2/<YOUR ALCHEMY KEY>
ARBITRUM_RIN_URL=https://arb-rinkeby.g.alchemy.com/v2/<YOUR ALCHEMY KEY>

<!-- BINANCE Network Nodes -->
BINANCE_URL=https://bsc-mainnet.nodereal.io/v1/<YOUR NODEREAL KEY>
BINANCE_TESTNET_URL=https://bsc-testnet.nodereal.io/v1/<YOUR NODEREAL KEY>